addons:
  chrome: stable
before_install: npm install npm@latest --global
cache:
  directories:
    - $HOME/.npm
dist: xenial
env:
  global:
    - secure: mrZ3LZWPKFb++t7xNUa34Qb4vKGZG/hPa1ly0wMOPi8jnUW6KLVNl9/nD/Us+S209ktXqSX22M7RcTWrF2Ro92eGGTm/ojRGqrrZ9CutjFsM/AM1RnOEClwUQ+V+dFhKpKyWE9BTIt8ESPy/dVPPIScu/SKnX89rjIP4pmoIsq9EwV+2KONqbhQO4zuQZH3nanYUf0UBnLwUGgJUxptig3abOfyIgWM5eZYjufr6xdQc5desqSVFUFvFvL07QAJYGq4ywGrc/NKCf/oSKvjOAoQfdFt71f13wUXhZIJanA360kyWSMXF8JwaeulA3bcINlsQ09aTA+L7EUfEy+1D9M7FKSaJnXrHIqEAfciddklfqk04PuXp2Ou1JJFAJIjP3mS0JGzpR5/F/hbI02Lp8HGj3pWXgKAddb5Gt1utxaJo2WTrGwQspuG8MtnpnGh9VbEjUSgcbpI77WtWVC/8gd5Fq9aQsatpM6rsWZKiJ/qz8TC2/Dm3SjybI6mInP7JUCRidARDKt5O9gbUVZAdMDQSeLuOS/Nnw/ELrRVPbUCencFDjykHYBcb1rY25PdH9aq8NnSNrwPQ8oZPhroXonTbL+dztDcXjvFukf562i0jP5EzwTpUpeebVxdEJFbqW5a7CqiM2JfoQr+8cv979NXMw+yDTpU8JbwA/BdaHbM=
    - secure: kSF1aZmiDoiJPHwV/XxOUcPnrmnXAuWa77y+V/KJPEEhmU/S8qifre9Hsm9rH4DFZu+8GnYQJYszLNQGtZoRYKhFWdkmOjDLONpBTKn/IKsRI8AVSjaydEMikK6NfBXPcVW+7Jr/hp8f/KPYuXEN7mWRWdeOYRVS+Li5hdezhnfo0+2vIlK7Fia18f+H8+NRwm774odXkuVZ6NBHx1mFVa1aZIdU0eeq1YQ9TAPqEo7r9We/2uin0NagXIF2d7G3sdQVq/lynuit0ZgaDSXI/qjDOW3K9kg6/04qSoOUUnsy9O8pYYEIeK+hr1kPjmjcyydaFy3+AUpqNssCwNU8o1sAo7WRwJbXweK5sHPTZYz3Z2L7sYNcUXQaUJurnvK1sK7BI1zd6S9oo0Ea606+ijbkPrvEkcE3sOyNDlf8Wb2ApKeD/kmU+Nt32vw/9hjshFTwNaNZ7tu22o9aSqM/4nIhWknMf5URkbr9TlKRoJ078KGUU9o2qDOKJ9WpmxhbUFUTygf0HBs49N5Fr8ODgCzPl/jg+sw4rYIuDU3wXzhldwTsjIWidY3VAb0d14ov7BHKfexgOnoX9gryYQZpc+KLmSLn5trQUs1iPkMyCDcPk3aqX/V+AjFzrcTGzxx8XfM3pLjUZSlfq2sBliUJoGlnIjeGOkAXZI9423X9xYg=
    - secure: KKar2Vu9snvJV2hmDA9YoQqMWUb/vjevvdpkvjJJf7uuRUdp8F1ODudcSxE4WBsHZp0XUoQx89wun9mp0JXPiy08XHC/Vi4aE5xCxfUNircMDN6KmxZEGcORW9xMoZQ/plJUuXbCIvcg/kd9NiPxCNfFyuRxQxqF0ujkRuLW0S8hcwZtNiXxsGO/5lxnH++z9Fli4/xQF+iMcM9LqnMk7i3xDu7S6keKG/DMK2lKilILgUAdAtE3UVVe8HOvErxRdwk19clcdGFZk08gB+xqCXSpO3jn23AUCLqPHmXdEKrR4MbUFew5YpX8kREfBC9CfU3OKhJkzhW0GDymWxmUzsgtCkL8VteOjfPPwfSvhgXUSCIqR1mpwT1AvM6hZLahs+tBd6qfj3DOHQRt3ux6itD8O5PIfKUytQRjgybJaV3Yoe4vLMu5SCeqryxWgKKuPOTG/GpyO58CcOWrfyKdksAQHdfAHMkN0YSTlQI36Ltutlf3hZ+fHDJm9q1mprVhhwMtZaF4GfYKV8Ip3a6wSKoVT87RM/sHgyrPVt7WVItXuMRJppiNhrcYg3KcM/324Jyt3EOe6T0DF8wE84HVpH4A4PdvPgVzzb8Uts08mH1XZcdzEg9Xx/mKyWGLcf+3XMcTKNBNUGsMatAU2ySx3VwGuaSfFyn6+vIZvzLmTrQ=
    - secure: TDJyhVgX0JgPqH/vSU97iHFm8WNMrljdy34KheXJfhPW1ySMe+at5sJf3M1dw4tTImLG5Ax8acbSzmmAvSxbn9vPoT3hSYCfYlCnq6PVrT0UY8uz8VAeVt1ibc/WzO0132CtK1nzEA7Ug0fnSevTAwUZLWLGyyI10SMlyPQ/AUbi2cHh6a0Y11hOugdSg/EyfS8aiGpJGGEtx2oMicN0XxjGH3NuK7y1CXJDV3oibKch9lAbjXYLm9cSWB67QaabDgWgeSfzmyRz6OQuqhN9qvTdGUh6+O2mEt8NtShqig/Al/4S1MJgzQ1XSCOfODaBLuPKbYReUxQ7MmDGO+kNa8vIFeapBNyoRcsKC+5kabs9MM5ppDotG4NxEUOT3AHMs47BlxYdPWYRiOQAqA/MzTNKskzLfsuiSmWfg2+GJIA+SgM6k8IG2uZh9XA3E1D92zOav3pxpAcR4BaA/Lmd9hXJdxqWntjUKxhNcG4RCzrgkWMwPY0O+HrzZ8twOhG58EyeWKOkJmYS/nOW2GBQDIXtu2syuy4XXVt0J1GsLhPZ2RX189wKHZYFiNRgnTItzsLcqbk+FBJjtlgUk4WGNM4q+j2XURR0E+twf8hRQKf+DxALm+zVgOhUrIDfh+hMcn4tz/By7xkbG6Mn0aK8HHml/tFlyAUbsa+EWjJ4WbI=
    - secure: aermTWqxs6WqjSiqGwPXHSE1PWJ+tkn8wLTPYi68Pb1wB1grc70jhSfG3Dv08Hg1Zkom4Rg76j+ihkBuVjc9uMODrbIxoqxYKaCHybYTMyCugtdzfKhwZSfYowDCZ/9Pkuu9NcID8/iNYmGzPG8PWyRZ9jhf/t4GvCisk4D94ts1wos0yh6XcTBaxJOMWUVNyBMrIIjuIfw3wzmskVQ110UcrTzp1lwm3KoRWrMo18dTE1/MCTGLc4yRrRpXPNFti1iiX0rRIMGqmdTpYJ29fAWZGMNmVJ+kzMadnpjnNPlfZWHjN0RtTaVmUm5N3DK5UcaHJ4MUD5MmL6nab+mzqmYeatJFSXByOGtyWX/J5nBvuSn7F2+t+rWDOz0ejLZGGYiow7YZhAgdXU7ZOR+vV58e5/LpvJBsi6yhvkwZFSe5PaUl2J1nSHItPwKU2U+YGbQyTeudjvV29cTgbd41H9ME0aXcOuXwcB0XW7Cksw3laob0U4qkyD3IS3hH+ONKOiDl1CAGNkcYQJFCw9Ev32M+6j+ejI/NKflej263JfgvxHgpDQIVpDKYritCKY/TyBAxUsSxxAMYQm80mYDlXyaS4Ey7K2ONc/h//9jaaBodRNY/xs/jQO6kucNFHQldBIwMW+5sf6R+pKVj+xHAvELscP0XwcNXrzPBHT3AsEU=
install: npm ci || (rm -rf node_modules && npm install)
language: node_js
matrix:
  include:
    - env:
      - TARGET=chrome
      - TYPE=expectation
      node_js: 12
    - env:
      - TARGET=chrome
      - TYPE=integration
      node_js: 12
    - env:
      - TARGET=chromium
      - TYPE=memory
      node_js: 12
    - env:
      - TARGET=edge
      - TYPE=expectation
      node_js: 12
    - env:
      - TARGET=edge
      - TYPE=integration
      node_js: 12
    - env:
      - TARGET=edge
      - TYPE=unit
      node_js: 12
    - env:
      - TARGET=firefox
      - TYPE=expectation
      node_js: 12
    - env:
      - TARGET=firefox
      - TYPE=integration
      node_js: 12
    - env:
      - TARGET=firefox
      - TYPE=unit
      node_js: 12
    - env:
      - TARGET=firefox-legacy
      - TYPE=expectation
      node_js: 12
    - env:
      - TARGET=opera
      - TYPE=expectation
      node_js: 12
    - env:
      - TARGET=opera
      - TYPE=integration
      node_js: 12
    - env:
      - TARGET=safari
      - TYPE=integration
      node_js: 12
    - env:
      - TARGET=safari-legacy
      - TYPE=expectation
      node_js: 12
